/*
* stream jpeg images
*/
body{
    font-family:'Arial Narrow Bold', sans-serif;
    overflow-x: hidden;
}
section{
    /*delete default space in the tag*/
    margin: 0;
    position: relative;
}
#main-container{
    /*stream container in the middle of the screen*/
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#stream-container{
    position: relative;
    top:4em;
    margin-bottom: 5px;
    background-color: rgb(79, 77, 77);
    
    /*
    width: 90%;
    height: calc(0.6*(100vw));
    */

    /*aspect ratio 16:9*/
    width: calc(95vw);
    height: calc(95vw * tan(29.36deg));

    display: flex;
    align-items: center;
    justify-content: center;
}
#stream{
    /*image fits into the container*/
    max-width: 100%;
    max-height: 100%;
}
#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
    position: absolute;
    top:10px;
    z-index: 1;
}
#control-button-container{
    position: absolute;
    top:0px;
    left:50%;
    transform:translateX(-50%);
}
.action-control{
    border: solid red 2px;
    border-radius: 22px;
    background-color: transparent;
    color: black;
    height: 44px;
    width: 44px;
    margin: 0px 3px 0px 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}   
#btn-menu,#btn-screen,#btn-close{
    border: none;
    background-color: transparent;
}
#loading-container{
    position: absolute;
    top: 6em;
    z-index: 1;
    color: white;
}
/*
* camera menu options
*/
.input-group{
    padding: 4px 0px 4px 0px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
#menu-opt-container > #menu-opt-list> .input-group > label{
    width:110px;
}
#framesize,#special_effect{
    margin:10px 0px 5px 0px;
}
#menu-opt-container{
    /*container position*/
    position: absolute;
    top:80px;
    width:200px;
    
    /*center container*/
    left: 50%;
    transform: translateX(-50%);
    /*style container*/
    border: solid 1px gray;
    background: rgba(128,128,128,.3);
    color:black;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    z-index: 1;
}
#menu-opt-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: solid 1px gray;
}
#menu-opt-header>h3{
    margin: 8px 0px;
}
#menu-opt-header>button{
    padding-top: 10px;
}
#framesize,#special_effect,.slider-container{
    height: 35px;
    width: 180px;
}
#framesize,#special_effect,#hmirror,#vflip{
    background:white;
    border: none;
}
/*check buttons as switch style*/
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 30px;
    margin: 5px 0px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    transition: 0.4s;
    border-radius: 22px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #0d6efd;
}
input:checked + .slider:before {
    transform: translateX(38px);
}
.slider-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#btn-close{
    position: relative;
    bottom: 5px;
    left: 0px;
}
#set-xclk{
    position:relative;
    left: 5px;
    border: none;
    border-radius: 5px;
    background-color: #0d6efd;
    color: white;
}
#xclk-value,#set-xclk{
    width: 60px;
    height: 30px;
    margin: 5px 0px;
    border-radius:20px;
    border:none;
    text-align: center;
}
/*arrow icon and left border on select options*/
#framesize,#special_effect{
    border-radius: 20px;
    padding-left: 8px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position:
    calc(100% - 20px) calc(1em + 0px),
    calc(100% - 15px) calc(1em + 0px),
    calc(100% - 2.2em) 0.3em;
    background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
}
/*
* controller
*/
#controller-container{
    /*background-color: yellow;*/
    position: relative;
    top:4em;

    width: 90%;
    /*height: calc(0.7*(100vw));*/
    
    /*initially hide the container*/
    display:none;
    /*when the container is shown controlled with a button*/
    flex-direction: column;
    align-items: center;
}
#controller-msg{
    display:flex;
    margin: 8px 0px 8px 0px;
}
.encoded-data{
    border: solid 2px rgba(128,128,128,.2);
    border-radius: 17px;
    padding: 0px 5px 0px 5px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#joystick-data{
    position:absolute;
    top:0.3em;
    left:0em;
    width:62px;
}
#buttons-data{
    position:absolute;
    top:0.3em;
    right:0em;
    width:62px;
    
    /*display: flex;
    justify-content: center;*/
}
.carousel{
    display: flex;
    padding: 0;
    margin: 10px 0px 2px 0px;
    /*scroll in x direction*/
    list-style-type: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    /*hide scrollbar*/
    scrollbar-width: none;
    -ms-overflow-style: none;
    /*disable touch event*/
    touch-action: none;
}
/*square caruosel*/
.carousel{
    width: 70%;
    border-left: solid 2px rgba(128,128,128,.2);
    border-right: solid 2px rgba(128,128,128,.2);
    border-radius: 22px;
}
.carousel:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* Hide scrollbar in webkit */
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel-item{
    background-color: white;
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: center;
}
.carousel-state{
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    font-size: 25px;
    
    border: none;
    border-radius: 22px;
    background: rgba(128,128,128, 0.1);
}
#carousel-previous{
    left: -0.4rem;
    color: rgba(128,128,128, 0.2);
}
#carousel-next{
    right: -0.4rem;
}
#controller-joystick,#controller-buttons{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-buttons{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.c-buttons-style{
    filter: invert(100%) sepia(3%) saturate(549%) hue-rotate(219deg) brightness(119%) contrast(100%);
}
#btn-x{
    background-color: red;
    position: relative;
    top:4.5em;
    left:-5.5em;
}
#btn-triangle{
    background-color: orange;
    position: relative;
    bottom:4.5em;
    left:2em;
}
#btn-circle{
    background-color: rgb(0, 166, 255);
    position: relative;
    left:2.8em;
}
#btn-square{
    background-color: green;
    position: relative;
    left:1.2em;
}

@media only screen and (min-width:315px) and (max-width:359px){
    /*camera menu*/
    .input-group{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
    }
    #menu-opt-container{
        width:280px;
        height: auto;
    }
}

@media only screen and (min-width:360px){
    /*camera menu*/
    .input-group{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
    }
    #menu-opt-container{
        width:320px;
        padding: 0px 10px 0px 10px;
    }
    
}
@media screen and (min-width:480px){
    /*extended controller*/
    #controller-container{
        /*height: calc(0.45*(100vw));*/
        padding-bottom: 5px;
    }
    .carousel-state{
        display:none;
    }
    #controller-joystick{
        background-color: rgb(255, 192, 203);
    }
    #controller-buttons{
        background-color: rgb(0,255,255);
    }
    .carousel{
        display:flex;
        width: 100%;
        height: 100%;
        overflow-x:hidden;
        scroll-snap-type:none;
        touch-action: auto
    }
    .carousel:after{
        content: "";
        padding-bottom: 0%;
    }
    .carousel-item {
        flex-shrink:unset;
        scroll-snap-align:unset;
    }
}
@media only screen and (min-height:480px) and (max-height:640px){
    /*overflow menu in y direction*/
    #menu-opt-list{
        height: calc(0.6*100vh);
        overflow-y:scroll;
    }
    #menu-opt-container{
        height: auto;
    }
}
@media only screen and (min-height:641px){
    /*body{
        overflow-y: hidden;
    }*/
    /*stream*/
    #stream-container{
        margin-bottom: 2em;
    }
    /*shows menu in the entire screen*/
    #menu-opt-list{
        height: auto;
        overflow-y:hidden;
    }
    #menu-opt-container{
        height: auto;
    }
    /*controller*/
    #controller-container{
        /*height: calc(0.95*(100vw));*/
    }
    .encoded-data{
        padding: 5px 5px 5px 5px;
    }
    #joystick-data,#buttons-data{
        top:0.1em;
    }
    #controller-msg{
        display: block;
    }
    /*square caruosel*/
    .carousel{
        margin-top: 10px;
        width: 80%;
        height: 320px;
    }
    .carousel-state{
        top:50%;
    }
    #carousel-previous{
        left: -1.2rem;
    }
    #carousel-next{
        right: -1.2rem;
    }
}
@media only screen and (min-width:480px) and (min-height:641px){
    .carousel{
        width:100%;
    }
}
@media only screen and (orientation: landscape){
    /*camera menu position*/
    #menu-opt-container{
        top:65px;
    }
    /*overflow menu in y direction*/
    #menu-opt-list{
        height: calc(100vh - 200px);
        overflow-y:scroll;
    }
    #stream-container{
        z-index:0;
        /*
        width: calc(100vh - 50px);
        height: calc(0.70*(100vh - 50px));
        */
        width: calc(60vw);
        height: calc(60vw * tan(29.36deg));
    }
    #stream{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #controller-container{
        position:absolute;
        top:0em;
        z-index: 1;
        width: 98vw;
        /*height: 92vh;*/
    }
    .carousel-item{
        background-color: transparent;
    }
    #controller-joystick{
        background-color: rgb(255, 192, 203,0.4);
    }
    #controller-buttons{
        background-color: rgb(0,255,255,0.4);
    }
    #navbar{
        z-index:3;
    }
    #controller-msg{
        display: none;
    }
    #joystick-data{
        top:1.5em;
        left:15%;
    }
    #buttons-data{
        top:1.5em;
        right:15%;
    }
}
@media only screen and (max-height:639px) and (orientation: landscape){
    #controller-container{
        height: 92vh;
    }
}
@media only screen and (min-height:640px) and (orientation: landscape){
    /*overflow menu in y direction*/
    #menu-opt-list{
        height: auto;
        overflow-y:hidden;
    } 
    #stream-container{
        position: relative;
        top:4em;
        margin-bottom: 5px;
        /*
        width: 40%;
        height: calc((0.88 * 100vh) - 320px);
        */
        width: calc(45vw);
        height: calc(45vw * tan(29.36deg));

        display: flex;
        align-items: center;
        justify-content: center;
    }
    #controller-container{
        position:relative;
        top:4em;
    }
    .carousel{
        height: 320px;
    }
    #controller-msg{
        position:relative;
        display: block;
    }
    #joystick-data{
        top:0em;
        left:15%;
    }
    #buttons-data{
        top:0em;
        right:15%;
    }

}



/*
@media screen and (min-width:340px){
    .input-group{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
    }
    #menu-opt-container{
        width:305px;
    }    
}
@media only screen and (max-height:430px) and (orientation:landscape){
    #stream-container{
        width: calc(100vh - 50px);
        height: calc(0.70*(100vh - 50px));
    }
    #stream{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #menu-opt-list{
        height: calc(0.4*100vh);
        overflow-y:scroll;
    }
    #menu-opt-container{
        width:360px;
        height: auto;
    }
}
@media only screen and (min-height:431px) and (max-height:800px) and (orientation:landscape){
    #stream-container{
        width: calc(100vh - 82px);
        height: calc(0.70*(100vh - 82px));
    }
    #stream{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #menu-opt-list{
        height: calc(0.55*100vh);
        overflow-y:scroll;
    }
    #menu-opt-container{
        width:360px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (min-height:801px){
    #stream-container{
        width: calc(100vh - 94px);
        height: calc(0.70*(100vh - 94px));
    }
    #stream{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #menu-opt-container{
        width:360px;
    }
}
@media (orientation: portrait){
    #main-container{
        align-items:center;
    }
    #stream-container{
        width: calc(100vw - 80px);
        height: calc(0.70*(100vw - 80px));
    }
    #stream{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
*/