/*---------------------------------------------------*/
/*
*body configuration
*/
body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    /*push*/
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/*---------------------------------------------------*/


/*---------------------------------------------------*/
/*
*main content
*/
.header{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
#bottomBorder{
    content-visibility: hidden;
    border-bottom: solid 2px gray;
    margin-left: 20px;
    margin-right: 20px;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}
table{
    display:flex;
}
#buttonsContainer{
    display: flex;
    justify-content: space-between;
}

#statusContainer{
    height: 50px;
}
input{
    width: 120px;
    height:30px;
}
.ledButton{
    width: 100px;
    height:40px;
}
/*---------------------------------------------------*/


/*---------------------------------------------------*/
/*
*footer
*/
#topBorder{
    content-visibility: hidden;
    border-top: solid 2px gray;
    margin-left: 20px;
    margin-right: 20px;
}
#footer{
    display: flex;
    justify-content: center;
}
/*---------------------------------------------------*/